.input-icon {
  position: relative;
}

.input-icon i {
  color: #ccc;
  display: block;
  position: absolute;
  margin: 2px 2px 4px 10px;
  z-index: 3;
  width: 16px;
  font-size: 16px;
  text-align: center;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.input-icon i svg {
  width: 16px;
}

.input-icon>.form-control {
  padding-left: 33px;
}

.btn-mua-ve {
  padding: 10px 40px;
  position: relative;
  border-radius: 4px !important;
}

.btn-3,
.btn-3:hover {
  background-image: linear-gradient(to right, #fc3606 0%, #fda085 51%, #fc7704 100%) !important;
}